In [ ]:
#Task1

print ("hello world")

hello world

In [ ]:
#Task2

print (54+56)

110

In [ ]:
#Task3

season = "Fall"
year = 2022

print(season)
print(year)

Fall
2022

In [ ]:
#Task4

name_1=input()
name_2=input()
print ("Your name is",name_1)
print ("Your name is",name_2)

John
Elbert
Your name is John
Your name is Elbert

In [ ]:
name_1 = input("Your name is: ")
name_2 = input("Your name is: ")

print (name_1)
print (name_2)

Your name is: John
Your name is: Albert
John
Albert

In [ ]:
#task4

name = input()
print ("Your name is",name)

John
Your name is John

In [ ]:
#Task5

M = int(input())
N = int(input())

print(str(M)+"^"+str(N)+":"+str(M**N))

2
3
2^3:8

In [ ]:
#task5

M=int(input("Enter the value of M: "))
N=int(input("Enter the value of N: "))

print("{}^{}: {}".format(M,N,M**N))

Enter the value of M: 2
Enter the value of N: 3
2^3: 8

In [ ]:
#Task5

M = int(input())
N = int(input())

print(str(M)+"^"+str(N)+":"+str(M**N))

10
3
10^3:1000

In [ ]:
#Task6

weight=int(input("Sir, please enter your total weight: "))
extra_weight=weight%4
print("The extra_weight is:",extra_weight)
maximum_load=weight-extra_weight
print("The maximum load is:",maximum_load)

In [ ]:
#task6

total_weight = int(input("Enter the total weight: "))
maximum_weight = total_weight - (total_weight%4)
print (maximum_weight)

Enter the total weight: 23
20

In [ ]:
#Task 7

A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))
C = int(input("Enter the value of C: "))
D = float(input("Enter the value of D: "))

result = int(A**C + B*A - D/3 )
print(result)

Enter the value of A: 9
Enter the value of B: 100
Enter the value of C: 1
Enter the value of D: 3.7
907

In [ ]:
number = int (input("Number of chocolates: "))
chocolates_for_friends = int(number/3)
remaining_chocolates = number%3
print("Each friend will receive",chocolates_for_friends,"chocolates")
print("The number of remaining chocolates is",remaining_chocolates)

Number of chocolates: 90
Each friend will receive 30 chocolates
The number of remaining chocolates is 0

In [ ]:
9