In [ ]:
#Task1
#Write one line of Python code to access and print the value 400.

a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#Task2
#Assume, you have been given a tuple.
# Write a Python program that creates a new tuple excluding the first
#and last two elements of the given tuple and prints the new tuple.

tup = (10, 20, 24, 25, 26, 35, 70)
print(tup[2:-2])

(24, 25, 26)

In [ ]:
#Task3
#Write a Python program that prints the size of the tuple and all its elements as shown below.

book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is: ",len(book_info))
for elements in book_info:
    print(elements)

Size of the tuple is:  4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Task4
#Write a Python program that prints the award category,
# the book name, and its total votes earned as shown below.

book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for award_category,book_name,total_votes in book_info:
    print("{} won the '{}' category with {} votes".
          format(book_name, award_category, total_votes))

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#Task5
#Write a python program that takes an input from the user
#and finds the number of times that the input is present in a given tuple.
Given_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
number = int(input("Enter the numbers: "))
print("{} appears {} times in the tuple".format(number,Given_tuple.count(number)))

Enter the numbers: 10
10 appears 3 times in the tuple

In [ ]:
#Task6
#Write a Python program to reverse a given tuple.

Given_tuple = (10, 20, 30, 40, 50, 60)
a_list = list(Given_tuple)
a_list.reverse()
tup = tuple(a_list)
print(tup)

(60, 50, 40, 30, 20, 10)

In [ ]:
#Task7

dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}
marks = {**dict1, **dict2}
print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Task8

user = input("Enter: ")
list1 = user.split(', ')
dict1 = {}
list2 = []
sum = 0
count = 0
for m in list1:
  list2 = m.split(":")
  dict1[list2[0]] = int(list2[1])
for n in dict1.values():
  sum += n
  count += 1
print("Average is {}.".format(int(sum/count)))

Enter: Jon:100, Dan:200, Rob:30, Ned:110
Average is 110.

In [ ]:
#Task9

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200,
              'Kierra Gentry': 165, 'Pierre Cox': 190}
user = int(input("Enter: "))
new_dict ={}
for keys,values in exam_marks.items():
    if values > user:
        new_dict[keys] = values
print(new_dict)

Enter: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#Task10

given = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2,
         'adventure':9}
max_value = 0
max_key = ''
for key,value in given.items():
    if value > max_value :
        max_value = value
        max_key = key
print("The highest selling book genre is '{}' and the number of books sold are {}.".format(max_key,max_value))

The highest selling book genre is 'horror' and the number of books sold are 14.

In [ ]:
# Task 11

string = input("Enter the string: ")[1:-1]
string = string.lower()
dict1 = {}
count = 0
for m in string:
    count = 0
    for n in string:
        if n == m:
            count += 1
            dict1[n] = count
print(string)
print(dict1)

Enter the string: "Python programming is fun"
python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, ' ': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#Task12

dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
total = 0
for key,value in dict_1.items():
    for count in dict_1[key]:
        total += 1
print(total)

9

In [ ]:
#Task13

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
al = []
bl = []
cl = []
for i in range (len(list_1)):
    if list_1 [i][0] == 'a':
        al.append(list_1[i][1])
    elif  list_1 [i][0] == 'b':
        bl.append(list_1[i][1])
    elif  list_1 [i][0] == 'c':
        cl.append(list_1[i][1])
new_dict = {'a': al, 'b': bl, 'c': cl}
print(new_dict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#Task 14

dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

In [ ]:
3 + 4 -(8 + (23.0) % 6)/3

2.666666666666667

In [ ]:
26 + 3 - (6 - (12.0) % 8) * 3

23.0