In [ ]:
#example

for i in range (24, -7, -6):
  if i==-6 :
     print (i)
  else:
     print(i,end=",")

24,18,12,6,0,-6

In [ ]:
#Task 1
#a) 24, 18, 12, 6, 0, -6

value = 24

while value >= -6:
    if value == -6:
        print(value, end = "")
    else:
        print(value, end = ", ")
    value -= 6

24, 18, 12, 6, 0, -6

In [ ]:
#Task 1
#b) -10, -5, 0, 5, 10, 15, 20

value = -10

while value <= 20:
    if value == 20:
        print(value, end = "")
    else:
        print(value, end = ", ")
    value += 5

-10, -5, 0, 5, 10, 15, 20

In [ ]:
#Task 1c
#c) 18, 27, 36, 45, 54, 63

value = 18

while value <= 63:
    if value == 63:
        print(value, end = "")
    else:
        print(value, end = ", ")
    value += 9

18, 27, 36, 45, 54, 63

In [ ]:
#Task 1d
#d) 18, -27, 36, -45, 54, -63

value = 18

while value <= 63:
    result = value * ( (-1) ** value )

    if value == 63:
        print(result, end = "")
    else:
        print(result, end = ", ")
    value += 9

18, -27, 36, -45, 54, -63

In [ ]:
#Task 2

name = input("Enter the name of your favourite car: ")
number = int(input("Enter a number:"))
for car in range(number):
    print(name)

Enter the name of your favourite car: Toyota
Enter a number:2
Toyota
Toyota

In [ ]:
#Task 3

number = 0
total = 0
while number <= 600:
    if number % 7 == 0 and number % 9 == 0:
        total = total + number
    number += 1
print(total)

2835

In [ ]:
#Task 4

number = 0
total = 0
while number <= 600:
    number += 1
    if number % 7 == 0 and number % 9 == 0:
        continue
    if number % 7 == 0 or number % 9 == 0:
        total = total + number
print(total)

39814

In [ ]:
#Task 5

for odd_numbers in range(10,50):
    if odd_numbers % 2 != 0:
        print(odd_numbers, end = " ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#Task 6

y = 0
value = 1
n = int(input("Enter the value of n: "))

while value <= n:
    if value % 2 == 0:
        y = y - value ** 2
    else:
        y = y + value ** 2
    value += 1
print(y)

Enter the value of n: 10
-55

In [ ]:
#Task 7

total = 0
count = 0

for number in range(10):
    number = int(input("Enter the numbers: "))
    if number % 2 != 0:
        total = total + number
        count += 1
average = total / count
print("The total of the odd numbers is", total,
      "and their average is", average)

Enter the numbers: 1
Enter the numbers: 2
Enter the numbers: 3
Enter the numbers: 4
Enter the numbers: 5
Enter the numbers: 6
Enter the numbers: 7
Enter the numbers: 8
Enter the numbers: 9
Enter the numbers: 10
The total of the odd numbers is 25 and their average is 5.0

In [ ]:
#Task 8

N = int(input("Enter a Number, N: "))
number = 0
summation = 0
while number <= N:
    if number % 7 == 0:
        summation = summation + number
    number += 1
print(summation)

Enter a Number, N: 75
385

In [ ]:
#Task 9

total = 0
sum = 0
for numbers in range(5):
    number = int(input("Enter the number: "))
    sum = number + sum
    print(sum)

Enter the number: 1
1
Enter the number: 2
3
Enter the number: 3
6
Enter the number: 4
10
Enter the number: 5
15

In [ ]:
#Task 10

user = int(input("Enter a number: "))

while True:
    remainder = user % 10
    user = user // 10
    if user == 0:
        print(remainder, end="")
        break
    else:
        print(remainder, end=", ")

Enter a number: 32768
8, 6, 7, 2, 3

In [ ]:
#Task 11
number = int(input("Enter a number: "))
digits = 0
while number>0:
    number = number // 10
    digits += 1
print(digits)

Enter a number: 34657
5

In [ ]:
#Task 11

number = int(input("Enter a number: "))
digits = 1
while True:
    number = number // 10
    if number == 0:
        break
    else:
        digits += 1
print(digits)

Enter a number: 9876
4

In [ ]:
#task12

n=int(input())
value=n
count=0
maltiplication=1
while value!=0:
  count+=1
  value//=10
count-=1
for i in range(count):
  maltiplication*=10
while n!=0:
  ans=n//maltiplication
  n%=maltiplication
  maltiplication//=10
  if n==0:
    print(ans)
  else:
    print(ans,end=", ")

657
6, 5, 7

In [ ]:
#task12

number = int(input("Enter a number: "))
number1 = number
count = 0
while number1 > 0:
    x = number1 // 10
    number1 = x
    count += 1
    while number1 ==0:
        break
p = 10 ** (count - 1)
for i in range (0,count):
    x = number // p
    y = number % p
    number = y
    z = p // 10
    p = z
    print(x, end = ", ")
if number % 10 == 0:
    print(x, end = " ")
while number == 0:
    break

Enter a number: 6758
6, 7, 5, 8, 8

In [ ]:
#Task 13

count = 0
number = int(input("Enter the number: "))
divisor = 1
while True:
    if divisor != number and number % divisor == 0:
        print(divisor)
        count += 1
    if number == divisor:
        print(divisor)
        count += 1
        break
    divisor += 1
print("Total {} divisors".format(count))

Enter the number: 121
1
11
121
Total 3 divisors

In [ ]:
#Task 14

number = int(input("Enter a number: "))
count = 0
x = 0
for i in range (1,number+1):
    if number % 2 == 0:
        x += 1
        count += 1
if count == number:
    print(number, "is a perfect number")
else:
    print(number, "is not a perfect number")

Enter a number: 6
6 is a perfect number

In [ ]:
#Task 15

count = 0
number = int(input("enter the number: "))
prime_number= 1
while prime_number <= number:
    if number % prime_number == 0:
        count += 1
    prime_number += 1
if count == 2:
    print(number, "is a prime number")
else:
    print(number, "is not a prime number")

enter the number: 6
6 is not a prime number

In [ ]:
#Task 16

quantity = int(input("Quantity: "))
maximum = 0
minimum = 0
total = 0
for x in range(quantity):
    n = int(input())
    total = total + n
    if n > maximum:
        maximum = n
    elif minimum == 0:
        minimum = n
    elif n < minimum:
        minimum = n
print("Maximum", maximum)
print("Minimum", minimum)
print("Average is", total / quantity)

Quantity: 5
10
4
-1
-100
1
Maximum 10
Minimum -100
Average is -17.2

In [ ]:
#Task 17

N = int(input("Enter: "))

for m in range(N):
    for n in range(N):
        print("+", end="")
    print()

Enter: 4
++++
++++
++++
++++

In [ ]:
#Task 18

M= int(input("Height: "))
N= int(input("Length: "))

for line in range(M):
    n = 1
    for column in range(N):
        print(n, end="")
        n += 1
    print()

Height: 4
Length: 6
123456
123456
123456
123456

In [ ]:
#task19

N = int(input("Height: "))

for m in range(1,N + 1):
    n = 1
    for x in range(m):
        print(n, end="")
        n += 1
    print()

Height: 8
1
12
123
1234
12345
123456
1234567
12345678

In [ ]:
#Task 20
x = 0
p =0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
    q = x + p - (sum + 7 / 3) / 3.0 % 2
    sum = sum + x + int(q)
    x += 1
    print(sum)
    if x > 5:
        p += 4 / 2
    else:
        p += (3 % 1)
sum = int(sum + p)
print(sum)

4
10
18
28
42
60
82
108
138
151

In [ ]:
#Task 21

x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10) :
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
  else :
    p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
115

In [ ]:
#Task 22

x = y = 0
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2
    print(sum)
    y = y + 1
  if (x > 7):
    x += 1
  else:
    x += 3
sum = x - y * 2
print(sum)
print(x)
print(y)

6
4
2
0
-2
-4
3
1
-1
-2
10
6

In [ ]:
#Task 23

x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print(sum)
        y = y + 2
    if (x > 5):
        x += 1
    else:
        x += 2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
#Task 24

test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10
test = 1
j = 0
k = 100

print(test)
print(j)
print(k)

40
45
50
55
60
65
70
75
80
85
1
0
100