In [ ]:
#Task 1

number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

sum = number1 + number2
product = number1 * number2
difference = number1 - number2

print("Sum =",sum)
print("Product =",product)
print("Difference =",difference)

Enter the first number: 4
Enter the second number: 5
Sum = 9
Product = 20
Difference = -1

In [ ]:
#Task 2

import math

radius = float(input("Radius of the circle: "))

area = math.pi * math.pow(radius,2)
circumference = 2 * math.pi * radius

print("Area is",area)
print("Circumference is",circumference)

Radius of the circle: 3.5
Area is 38.48451000647496
Circumference is 21.991148575128552

In [ ]:
#Task 3

number1 = int(input("First number: "))
number2 = int(input("Second number: "))

if number1 == number2:
    print("The numbers are equal")
elif number1 > number2:
    print("First is greater")
else:
    print("Second is greater")

First number: 7
Second number: 3
First is greater

In [ ]:
#Task 4

number1 = int(input("First number: "))
number2 = int(input("Second number: "))

if number1 >= number2:
    print(number1 - number2)
else:
    print(number2 - number1)

First number: -40
Second number: -4
36

In [ ]:
#Task 5

number = int(input("Enter the number: "))
if number % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter the number: -44
The number is even

In [ ]:
#Task 6

number = int(input("Enter the number: "))

if number % 2 == 0 or number % 5 == 0:
    print(number)
else:
    print("Not a multiple of 2 OR 5")

Enter the number: 3
Not a multiple of 2 OR 5

In [ ]:
#Task 7

number = int(input("Enter the number: "))

if number % 2 == 0 and number % 5 == 0:
    print("Multiple of 2 and 5 both")
elif number % 2 == 0 or number % 5 == 0:
    print(number)
else:
    print("Not a multiple we want")

Enter the number: 17
Not a multiple we want

In [ ]:
#Task 8

number = int(input("Enter the number: "))

if number % 2 == 0 and number % 5 == 0:
    print(number)
else:
    print("Not multiple of 2 and 5")

Enter the number: 15
Not multiple of 2 and 5

In [ ]:
#Task 9

seconds = int(input("Time: "))

Hours = seconds // 3600
remaining_seconds = seconds % 3600
Minutes = remaining_seconds // 60
Seconds = remaining_seconds % 60

print("Hour:",Hours,"Minutes:",Minutes,"Seconds:",Seconds)

Time: 10000
Hour: 2 Minutes: 46 Seconds: 40

In [ ]:
#Task 10

hour = int(input("Working hour: "))
salary = 0

if hour > 0:
    if hour <= 168:
        if hour <= 40 :
            salary = hour * 200
            print(salary)
        else:
            salary = 8000+(hour-40)*300
            print(salary)
    else:
        print("Impossible to work more than 168 hours weekly")
else:
    print("Hour cannot be negative")

Working hour: 170
Impossible to work more than 168 hours weekly

In [ ]:
#Task 11

S = int(input("Enter the value of s: "))

if S < 100:
    L = 3000 - 125 * S ** 2
    print(L)
else:
    L = 12000 / (4 + (S ** 2 /14900))
    print(L)

Enter the value of s: 3
1875

In [ ]:
#Task 12

hour = int(input("Hour: "))

if 0 <= hour <= 24 :
    if 4 <= hour <= 6:
       print("Breakfast")
    elif 12 <= hour <= 13:
       print("Lunch")
    elif 16 <= hour <= 17:
       print("Snacks")
    elif 19 <= hour <= 20:
       print("Dinner")
    else:
       print("Patience is a virtue")
else:
    print("Wrong time")

Hour: 1
Patience is a virtue

In [ ]:
#Task 13

marks = int(input("Student's marks: "))

if 0 <= marks <= 100:
    if 90<= marks:
        print("A")
    elif 80<= marks<=89:
        print("B")
    elif 70<= marks<=79:
        print("C")
    elif 60<= marks<=69:
        print("D")
    elif 50<= marks<=59:
        print("E")
    else:
        print("F")
else:
    print("Invalid")

Student's marks: 60
D

In [ ]:
#Task 14

distance = int(input("Enter the distance: "))
time = int(input("Enter the time: "))

distance_in_km = distance / 1000
hour = time / 3600

velocity = distance_in_km / hour
print(velocity,"km/h")

if velocity<60:
    print("Too slow. Needs more changes.")
elif 60<=velocity<=90:
    print("Velocity is okay. The car is ready!")
else:
    print("Too fast. Only a few changes should suffice.")

Enter the distance: 25400
Enter the time: 3600
25.4 km/h
Too slow. Needs more changes.

In [ ]:
#Task 15

CGPA = float(input("CGPA: "))
Credits = int(input("No of credits: "))

if Credits>=30 and CGPA>=3.80:
    if 3.80<=CGPA<=3.89:
        print("The student is eligible for a waiver of 25 percent")
    elif 3.90<=CGPA<=3.94:
        print("The student is eligible for a waiver of 50 percent")
    elif 3.95<=CGPA<=3.99:
        print("The student is eligible for a waiver of 75 percent")
    else:
        print("The student is eligible for a waiver of 100 percent")
else:
    print("The student is not eligible for a waiver")

CGPA: 3.93
No of credits: 78
The student is eligible for a waiver of 50 percent

In [ ]:
#Task 16
p = 5
q = 6
r = 9
sum = 0
if (p < 12):
    print(r + 2)
else:
    print(r + p)
if (q > 20):
    print(r + 19)
elif (q <= 6):
    print(q + 3)
else:
    print(p + q + r)
if (r > 15):
    print(r)
elif (r == 0):
    print(p + q)
else:
    print(p)
if (sum != 0):
    print(3)
else:
    print(sum + 32)
if (p>0 and r<10):
    print(p+r)
else:
    print(p-r)

print(p)
print(q)
print(r)
print(sum)

11
9
5
32
14
5
6
9
0

In [ ]:
#Task 17

var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
False
True
True
False
True
False
True
False
False

In [ ]:
#Task 18

var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)

print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
True
False
False
False
True
False
False
True
False
False
False
True

In [ ]:
#Task 19

var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)

print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)

print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

True
True
False
True
False
False
False
True
True
True
True
True
False
True
True
False

In [ ]:
#Task 20

x=int(input('Enter any integer\n'))

if x%2!=0 and x%5!=0:
    print(x)
else:
    print('No')

Enter any integer
12
No

In [ ]:
#Task 21

x=int(input())

if x%2!=0 or x%5!=0:
  print(x)
else:
  print('No')

5
5

In [ ]:
#Task 22

canva=int(input('canvas:'))
tube=int(input('Paint Tube:'))

cost=(canva*120)+(tube*75)
print('Previous Total:',cost)
if cost>=300:
    if cost<=499:
        dis_cost= cost-10
    elif cost>=500 and cost<=749:
        dis_cost= cost-20
    elif cost>=750 and cost<=999:
        dis_cost= cost-50
    elif cost>=1000:
        dis_cost= cost-150

    print('New total after discount:', dis_cost)
else:
        print('New total after discount:',cost)

canvas:5
Paint Tube:8
Previous Total: 1200
New total after discount: 1050

In [ ]:
#Task 23

temp_far=float(input("Give me the temperature in degree fahrenheit\n"))

temp_celsius=((temp_far) - 32) * 0.56
print(round(temp_celsius, 2), "degrees C")

if temp_celsius<20:
    print('Winter')
elif temp_celsius>=20 and temp_celsius<=25:
    print('Autumn')
elif temp_celsius>25 and temp_celsius<30:
    print('Spring')
elif temp_celsius>=30 :
    print('Summer')

Give me the temperature in degree fahrenheit
82
28.0 degrees C
Spring