In [ ]:
#Task1

def even_checker(number):
    if number % 2 == 0:
        print("Even!!")
    else:
        print("Odd!!")
even_checker(5)

Odd!!

In [ ]:
#Task2

def fibonacci(limit):
    list1 = [0,1]
    while True:
        number = list1[-1] + list1[-2]
        if number > limit:
            break
        else:
            list1.append(number)
    for num in list1:
        print(num, end=" ")
fibonacci(5)

0 1 1 2 3 5

In [ ]:
#Task3

def foo_moo(number):
    if number % 2 == 0 and number % 3 == 0:
        return "FooMoo"
    elif number % 2 == 0:
        return "Foo"
    elif number % 3 == 0:
        return "Moo"
    else:
        return "Boo"
print(foo_moo(5))

Boo

In [ ]:
#Task4

def function_name(string):
    uppercase = 0
    lowercase = 0
    for s in string:
        if 65 <= ord(s) <= 90:
            uppercase += 1
        elif 97 <= ord(s) <= 122:
            lowercase += 1
    print("No. of Uppercase characters : ", uppercase)
    print("No. of Lowercase Characters: ", lowercase)
function_name('HaRRy PotteR')

No. of Uppercase characters :  5
No. of Lowercase Characters:  6

In [ ]:
#Task5

def calculate_tax(age,salary,job):
    if age < 18 or job == "president" or salary < 10000:
        tax_value = 0
    elif salary <= 20000:
        tax_value = salary * (5/100)
    elif salary > 20000:
        tax_value = salary * (10/100)
    return tax_value
age = int(input("Your age: "))
salary = int(input("Your salary: "))
job = input("Your current job designation: ")
job = job.lower()
print(calculate_tax(age,salary,job))

Your age: 16
Your salary: 20000
Your current job designation: Student
0

In [ ]:
#Task6

def function_name(days):
    years = days // 365
    days = days % 365
    months = days // 30
    days = days % 30
    print("{} years, {} months and {} days".format(years,months,days))
days = int(input("Number of days: "))
function_name(days)

Number of days: 4330
11 years, 10 months and 15 days

In [ ]:
#Task7

def show_palindrome(m):
    if m > 1:
        string = "1"
        for m in range (2 ,m+1,1):
            string += str(m)
        for n in range (m-1, 0, -1):
            string += str(n)
    return string
print(show_palindrome(5))

123454321

In [ ]:
#Task8

def show_palindrome(m):
    if m > 1:
        string = "1"
        for m in range (2 ,m+1,1):
            string += str(m)
        for n in range (m-1, 0, -1):
            string += str(n)
    return string

def show_palindrome_triangle(m):
    for n in range (1,m+1):
        for r in range (1,m-n+1):
            print(" ", end = " ")
        for num in range (1,n):
            print(num, end = " ")
        for num in range(n,0,-1):
            print(num, end = " ")
        print("")
show_palindrome_triangle(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#Task9

def area_circumference_generator(radius):
    area = (22/7) *radius **2
    circumferance = 2 * (22/7) * radius
    return area,circumferance
results = area_circumference_generator(1)
area,circumference = results
print(results)
print("Area of the circle is {} and circumferance is {}".format(area,circumference))

(3.142857142857143, 6.285714285714286)
Area of the circle is 3.142857142857143 and circumferance is 6.285714285714286

In [ ]:
#Task10

def make_sqaure(tup):
    dictionary = {}
    for num in range(tup[0],tup[1]+1):
        dictionary[num] = num**2
    return dictionary
make_sqaure((1,3))

{1: 1, 2: 4, 3: 9}

In [ ]:
#Task11

def rem_duplicate(tup):
    list1 = []
    for value in tup:
        if value not in list1:
            list1.append(value)
    return tuple(list1)
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

(1, 2, 3, 4, 5, 6, 0)

In [ ]:
#Task12

def function_name(list1):
    new_list = []
    count = 0
    for elements in list1:
        if new_list.count(elements) < 2:
            new_list.append(elements)
        else:
            count += 1
    print("Removed:",count)
    print(new_list)
function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#Task13

def function_name(op,op1,op2):
    if op == "+":
        return (op1 + op2)
    elif op == "-":
        return (op1 - op2)
    elif op == "*":
        return (op1 * op2)
    elif op == "/":
        return  (op1 / op2)
op = input("Enter the Operation: ")
op1 = float(input("Enter the First Operand: "))
op2 = float(input("Enter the Second Operand: "))
function_name(op,op1,op2)

Enter the Operation: +
Enter the First Operand: 10
Enter the Second Operand: 20

30.0

In [ ]:
#Task14

def function_name(sentence,position):
    new_string = sentence[0]
    remove = ""
    for index in range(1, len(sentence)):
        if index % position != 0:
            new_string += sentence[index]
        else:
            remove += sentence[index]
    new_string += remove
    return new_string
sentence = input("Enter the sentence: ")
position = int(input("Enter the position: "))
print(function_name(sentence,position))

Enter the sentence: I love programming.
Enter the position: 3
I lveprgrmmngo oai.

In [ ]:
#Task15

list1 = input("Enter the list: ")[1:-1]
list1 = list1.replace('"','').split(', ')
def function_name(order_items, location = "Dhanmondi"):
    dict1 = {'Rice' : 105, 'Potato' : 20, 'Chicken' : 250, 'Beef' : 510, 'Oil' : 85}
    total= 0
    for n in order_items:
        total += dict1[n]
    if location == 'Dhanmondi':
        total += 30
    else:
        total += 70
    return total
print(function_name(list1,"Mohakhali"))

Enter the list: ["Rice", "Beef", "Rice"]
790

In [ ]:
#Task16 example1

def splitting_money(amount):
    taka500 = amount // 500
    amount500 = amount % 500
    taka100 = amount500 // 100
    amount100 = amount500 % 100
    taka20 = amount100 // 20
    amount20 = amount100 % 20
    taka10 = amount20 // 10
    amount10 = amount20 % 10
    taka2 = amount10 // 2
    amount2 = amount10 % 2
    print(f"500 Taka: {taka500} note(s) \n"
          f"100 Taka: {taka100} note(s) \n"
          f"20 Taka: {taka20} note(s) \n"
          f"10 Taka: {taka100} note(s) \n"
          f"2 Taka: {taka2} note(s)")
    return
amount = int(input("Amount of taka: "))
splitting_money(amount)

Amount of taka: 1234
500 Taka: 2 note(s)
100 Taka: 2 note(s)
20 Taka: 1 note(s)
10 Taka: 2 note(s)
2 Taka: 2 note(s)

In [ ]:
#Task16 example2

def splitting_money(amount):
    taka100 = amount // 100
    amount100 = amount % 100
    taka50 = amount100 // 50
    amount50 = amount100 % 50
    taka1 = amount50 // 1
    amount1 = amount50 % 1
    print(f"100 Taka: {taka100} note(s) \n" f"50 Taka: {taka50} note(s) \n" f"1 Taka: {taka1} note(s) \n")
    return
amount = int(input("Amount of taka: "))
splitting_money(amount)

Amount of taka: 151
100 Taka: 1 note(s)
50 Taka: 1 note(s)
1 Taka: 1 note(s)

In [ ]:
#Task17 example1

def remove_odd (list1):
    compact_list = []
    for i in list1[:]:
        if i % 2 == 0:
            compact_list.append(i)
    return compact_list
remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])

[44, 66, 88, 10]

In [ ]:
#Task17 example2

def remove_odd (list1):
    compact_list = []
    for i in list1[:]:
        if i % 2 == 0:
            compact_list.append(i)
    return compact_list
remove_odd ([11,2,3,4,5,2,0,5,3])

[2, 4, 2, 0]

In [ ]:
#Task20 example1

def individul_bonus_calculation(name, earning, goal, bonus):
    if goal > 30:
        bonus = int(goal * (bonus / 100 * earning) + 10000)
    elif 20 < goal < 30:
        bonus = int(goal * (bonus * earning) + 5000)
    print("{} earned a bonus of {} Taka for {} goals.".format(name,bonus,goal))
individul_bonus_calculation("Neymar", 1200000, 35, 5)

Neymar earned a bonus of 2110000 Taka for 35 goals.

In [ ]:
#Task20 example2

def individul_bonus_calculation(name, earning, goal, bonus):
    if goal > 30:
        bonus = int(goal * (bonus / 100 * earning) + 10000)
    elif 20 < goal < 30:
        bonus = int(goal * (bonus / 100 * earning) + 5000)
    else:
        bonus = int(goal * (bonus / 100 * earning))
    print("{} earned a bonus of {} Taka for {} goals.".format(name,bonus,goal))
individul_bonus_calculation('Jamal', 700000, 19, 8)

Jamal earned a bonus of 1064000 Taka for 19 goals.

In [ ]:
#Task20 example3

def individul_bonus_calculation(name, earning, goal, bonus):
    if goal > 30:
        bonus = int(goal * (bonus / 100 * earning) + 10000)
    elif 20 < goal < 30:
        bonus = int(goal * (bonus / 100 * earning) + 5000)
    else:
        bonus = int(goal * (bonus / 100 * earning))
    print("{} earned a bonus of {} Taka for {} goals.".format(name,bonus,goal))
individul_bonus_calculation('Luis', 80000, 25, 10)

Luis earned a bonus of 205000 Taka for 25 goals.